# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\GRATZ Michael\OneDrive - CAMPUS 02 Fachhochschule der Wirtschaft GmbH\21WS\Software Engineering\SourceControlled\swe_stack_calculator\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
